@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}
.loading-screen{
    background-color: red;
    color: white;
    
    height: 100vh;
    width: 100vw;
    padding: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: fade-out 6s forwards;
}
.progress-bar-container{
    border: 3px solid #fff;
    display: flex;
    align-items: center;

    padding: 2px;
    margin: auto;

    height: 30px;
    width: 65%;
}
.progress-bar{
    justify-self: flex-start;
    height: 100%;
    width: 0%;
    background-color: white;
    
    animation: load-bar 5s ease-in-out forwards;
}
.loading-screen h1{
    text-align: center;
    font-size: 17em;
}
@keyframes load-bar {
    0%{ width: 0%; }
    15%{ width: 15%; }
    24%{ width: 24%; }
    53%{ width: 53%; }
    82%{ width: 82%; }
    100%{ width: 100%; }
}
@keyframes fade-out {
    0%{
        display: block;
        opacity: 1;
    }
    67%{
        display: block;
        opacity: 1;
    }
    100%{
        display: none;
        opacity: 0;
    }
}