*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
header{
    position: fixed;
    top: 0;

    height: 10%;
    width: 100%;

    background-color: moccasin;
}
nav{
    display: flex;
}

@keyframes fade-in {
    from {opacity: 0;}
    to  {opacity: 1;}
}